In [1]:
#%load_ext autotime

#import matplotlib.pyplot as plt
#import pickle
import geopy
import pandas as pd
import geopandas as gpd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px

In [2]:
df = pd.read_csv('https://data.cityofnewyork.us/api/views/kk4q-3rt2/rows.csv')
#http://web.mta.info/developers/data/nyct/subway/Stations.csv
df.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"

In [3]:
#df['latlon'] = df['GTFS Latitude'].astype(str) + ', ' + df['GTFS Longitude'].astype(str)
df['latlon'] = df['the_geom'].str.lstrip('POINT (').str.rstrip(')').str.split()
df.head(60)

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,latlon
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.99106999861966, 40.73005400028978]"
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-74.00019299927328, 40.71880300107709]"
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights","[-73.98384899986625, 40.76172799961419]"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times","[-73.97499915116808, 40.68086213682956]"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times","[-73.89488591154061, 40.66471445143568]"
5,http://web.mta.info/nyct/service/,6,238th St,POINT (-73.90087000018522 40.88466700064975),1,"1-all times, exit only northbound","[-73.90087000018522, 40.88466700064975]"
6,http://web.mta.info/nyct/service/,7,Cathedral Pkwy (110th St),POINT (-73.95806670661364 40.800581558114956),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.95806670661364, 40.800581558114956]"
7,http://web.mta.info/nyct/service/,8,Kingston - Throop Aves,POINT (-73.94085899871263 40.67991899941601),A-C,"A-nights, C-all other times","[-73.94085899871263, 40.67991899941601]"
8,http://web.mta.info/nyct/service/,9,65th St,POINT (-73.8987883783301 40.74971952935675),E-M-R,"E-nights, R-all other times, M-weekdays and ev...","[-73.8987883783301, 40.74971952935675]"
9,http://web.mta.info/nyct/service/,10,36th St,POINT (-73.92901818461539 40.75196004401078),E-M-R,"E-nights, R-all other times, M-weekdays and ev...","[-73.92901818461539, 40.75196004401078]"
10,http://web.mta.info/nyct/service/,11,Delancey St - Essex St,POINT (-73.98740940202974 40.71830605618619),J-M-Z,"J-all times, M-all times exc nights, Z-rush ho...","[-73.98740940202974, 40.71830605618619]"
11,http://web.mta.info/nyct/service/,12,Van Siclen Ave,POINT (-73.89165772702445 40.67802821447783),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.89165772702445, 40.67802821447783]"
12,http://web.mta.info/nyct/service/,13,Norwood Ave,POINT (-73.87962599910783 40.68152000045683),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.87962599910783, 40.68152000045683]"
13,http://web.mta.info/nyct/service/,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.84443500029684, 40.69516599823373]"
14,http://web.mta.info/nyct/service/,15,DeKalb Ave,POINT (-73.98177094440949 40.690648119969794),B-D-N-Q-R,"B-weekdays and evenings, D-all other times, N-...","[-73.98177094440949, 40.690648119969794]"
15,http://web.mta.info/nyct/service/,16,Beach 105th St,POINT (-73.82758075034528 40.58326843810286),A-S,"A-rush hours AM northbound, PM southbound, S B...","[-73.82758075034528, 40.58326843810286]"
16,http://web.mta.info/nyct/service/,17,Beach 90th St,POINT (-73.81365140419632 40.58809156457325),A-S,"A-rush hours AM northbound, PM southbound, S B...","[-73.81365140419632, 40.58809156457325]"
17,http://web.mta.info/nyct/service/,18,Freeman St,POINT (-73.89175225349464 40.829987446384116),2-5,"2-all times, 5-all times exc nights, skips rus...","[-73.89175225349464, 40.829987446384116]"
18,http://web.mta.info/nyct/service/,19,Intervale Ave,POINT (-73.89661738461646 40.822142131170786),2-5,"2-all times, 5-all times exc nights, skips rus...","[-73.89661738461646, 40.822142131170786]"
19,http://web.mta.info/nyct/service/,20,182nd-183rd Sts,POINT (-73.90074099998965 40.85609299881864),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.90074099998965, 40.85609299881864]"
20,http://web.mta.info/nyct/service/,21,174th-175th Sts,POINT (-73.91013600050078 40.84589999983414),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.91013600050078, 40.84589999983414]"
21,http://web.mta.info/nyct/service/,22,167th St,POINT (-73.91843200082253 40.83376899862797),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.91843200082253, 40.83376899862797]"
22,http://web.mta.info/nyct/service/,23,Mets - Willets Point,POINT (-73.8456249984179 40.75462199881262),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...","[-73.8456249984179, 40.75462199881262]"
23,http://web.mta.info/nyct/service/,24,Junction Blvd,POINT (-73.86952700103515 40.74914499948836),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...","[-73.86952700103515, 40.74914499948836]"
24,http://web.mta.info/nyct/service/,25,Flushing - Main St,POINT (-73.83003000262508 40.75959999915012),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...","[-73.83003000262508, 40.75959999915012]"
25,http://web.mta.info/nyct/service/,26,Buhre Ave,POINT (-73.83256900003744 40.846809998885504),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...","[-73.83256900003744, 40.846809998885504]"
26,http://web.mta.info/nyct/service/,27,3rd Ave - 138th St,POINT (-73.92613800014134 40.81047600117261),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...","[-73.92613800014134, 40.81047600117261]"
27,http://web.mta.info/nyct/service/,28,Castle Hill Ave,POINT (-73.85122199961472 40.83425499825462),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...","[-73.85122199961472, 40.83425499825462]"
28,http://web.mta.info/nyct/service/,29,Brooklyn Bridge - City Hall,POINT (-74.0041310005885 40.713064999433136),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...","[-74.0041310005885, 40.713064999433136]"
29,http://web.mta.info/nyct/service/,30,Zerega Ave,POINT (-73.8470359987544 40.836488000608156),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...","[-73.8470359987544, 40.836488000608156]"
30,http://web.mta.info/nyct/service/,31,Grand Central - 42nd St,POINT (-73.9767132992584 40.75180742981634),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...","[-73.9767132992584, 40.75180742981634]"
31,http://web.mta.info/nyct/service/,32,33rd St,POINT (-73.98207600148947 40.74608099909145),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.98207600148947, 40.74608099909145]"
32,http://web.mta.info/nyct/service/,33,96th St,POINT (-73.9510700015425 40.78567199998607),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.9510700015425, 40.78567199998607]"
33,http://web.mta.info/nyct/service/,34,77th St,POINT (-73.95987399886047 40.77362000074615),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.95987399886047, 40.77362000074615]"
34,http://web.mta.info/nyct/service/,35,Chauncey St,POINT (-73.91038357033376 40.68285130087804),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.91038357033376, 40.68285130087804]"
35,http://web.mta.info/nyct/service/,36,Union St,POINT (-73.98310999909673 40.67731566735096),D-N-R,"D,N-nights, R-all other times","[-73.98310999909673, 40.67731566735096]"
36,http://web.mta.info/nyct/service/,37,Elmhurst Ave,POINT (-73.8820347465864 40.74237007972169),E-M-R,"E-nights, R-all other times, M-weekdays and ev...","[-73.8820347465864, 40.74237007972169]"
37,http://web.mta.info/nyct/service/,38,Ralph Ave,POINT (-73.92078599933306 40.678822000873375),A-C,"A-nights, C-all other times","[-73.92078599933306, 40.678822000873375]"
38,http://web.mta.info/nyct/service/,39,Pelham Pkwy,POINT (-73.86748067850041 40.8571924091606),2-5,"2-all times, 5-rush hours AM southbound, PM no...","[-73.86748067850041, 40.8571924091606]"
39,http://web.mta.info/nyct/service/,40,Gun Hill Rd,POINT (-73.86613410538703 40.877839385172024),2-5,"2-all times, 5-rush hours AM southbound, PM no...","[-73.86613410538703, 40.877839385172024]"
40,http://web.mta.info/nyct/service/,41,Nereid Ave (238 St),POINT (-73.8543153107622 40.898286515575286),2-5,"2-all times, 5-rush hours AM southbound, PM no...","[-73.8543153107622, 40.898286515575286]"
41,http://web.mta.info/nyct/service/,42,Franklin Ave,POINT (-73.9580997367769 40.67076515344894),2-3-4-5,"2,4-all times, 3-all times exc nights, 5-weekdays","[-73.9580997367769, 40.67076515344894]"
42,http://web.mta.info/nyct/service/,43,Simpson St,POINT (-73.89306639507903 40.823976841237396),2-5,"2-all times, 5-all times exc nights, skips rus...","[-73.89306639507903, 40.823976841237396]"
43,http://web.mta.info/nyct/service/,44,Bronx Park East,POINT (-73.86835609178098 40.848768666338934),2-5,"2-all times, 5-rush hours AM southbound, PM no...","[-73.86835609178098, 40.848768666338934]"
44,http://web.mta.info/nyct/service/,45,Winthrop St,POINT (-73.95007934590994 40.65665931376077),2-5,"2-all times, 5-weekdays","[-73.95007934590994, 40.65665931376077]"
45,http://web.mta.info/nyct/service/,46,Van Siclen Ave,POINT (-73.88940491730106 40.665517963059635),3-4,"4-nights, 3-all other times","[-73.88940491730106, 40.665517963059635]"
46,http://web.mta.info/nyct/service/,47,149th St - Grand Concourse,POINT (-73.9273847542618 40.81830344372315),4,4-all times,"[-73.9273847542618, 40.81830344372315]"
47,http://web.mta.info/nyct/service/,48,161st St - Yankee Stadium,POINT (-73.92569199505733 40.82823032742169),4,4-all times,"[-73.92569199505733, 40.82823032742169]"
48,http://web.mta.info/nyct/service/,49,Lexington Ave - 59th St,POINT (-73.9679670004732 40.762526000304575),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...","[-73.9679670004732, 40.762526000304575]"
49,http://web.mta.info/nyct/service/,50,E 149th St,POINT (-73.90409799875945 40.81211799827203),6,6-all times,"[-73.90409799875945, 40.81211799827203]"
50,http://web.mta.info/nyct/service/,51,Morrison Av - Soundview,POINT (-73.87451599929486 40.82952100156747),6,6-all times,"[-73.87451599929486, 40.82952100156747]"
51,http://web.mta.info/nyct/service/,52,Whitlock Ave,POINT (-73.8862829985325 40.82652500055904),6,6-all times,"[-73.8862829985325, 40.82652500055904]"
52,http://web.mta.info/nyct/service/,53,St Lawrence Ave,POINT (-73.86761799923673 40.8315090005233),6,6-all times,"[-73.86761799923673, 40.8315090005233]"
53,http://web.mta.info/nyct/service/,54,Woodside - 61st St,POINT (-73.90298400173006 40.745630001138395),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...","[-73.90298400173006, 40.745630001138395]"
54,http://web.mta.info/nyct/service/,55,Far Rockaway - Mott Ave,POINT (-73.75540499924732 40.603995001687544),A,A-all times,"[-73.75540499924732, 40.603995001687544]"
55,http://web.mta.info/nyct/service/,56,72nd St,POINT (-73.976336575218 40.77551939729258),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.976336575218, 40.77551939729258]"
56,http://web.mta.info/nyct/service/,57,96th St,POINT (-73.96460245687166 40.79161879767014),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.96460245687166, 40.79161879767014]"
57,http://web.mta.info/nyct/service/,58,168th St,POINT (-73.93956099985425 40.84071899990795),A-C,"A-all times, C-all times exc nights","[-73.93956099985425, 40.84071899990795]"
58,http://web.mta.info/nyct/service/,59,Kingsbridge Rd,POINT (-73.8935090000331 40.86697799999945),B-D,"B-rush hours, D-all times","[-73.8935090000331, 40.86697799999945]"
59,http://web.mta.info/nyct/service/,60,42nd St - Bryant Pk,POINT (-73.98459099904711 40.754184001312545),B-D-F-M,"B,M-weekdays and evenings, D,F-all times","[-73.98459099904711, 40.754184001312545]"

In [4]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

def reverse_geocode(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    try:
        zipcode = address['postcode']
    except:
        zipcode = ''
    return zipcode

print(reverse_geocode("47.470706, -99.704723"))
#reverse_geocode(df.latlon[0][1] + ', ' + df.latlon[0][0])

58418

In [5]:
df['zipcode'] = df.apply(lambda row: reverse_geocode(row['latlon'][1] + ', ' + row['latlon'][0]), axis = 1)

In [6]:
df.columns.str.replace(' ', '')
df.drop(['URL'], axis=1, inplace=True)
df.sort_values('NAME').head(50)

,OBJECTID,NAME,the_geom,LINE,NOTES,latlon,zipcode
158,159,103rd St,POINT (-73.96837899960818 40.799446000334825),1,1-all times,"[-73.96837899960818, 40.799446000334825]",10025
160,161,103rd St,POINT (-73.96137008267617 40.796060739904526),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.96137008267617, 40.796060739904526]",10025-4403
457,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.94747800152219, 40.79060000008452]",10029
188,189,103rd St - Corona Plaza,POINT (-73.86269999830412 40.749865000555545),7,7-all times,"[-73.86269999830412, 40.749865000555545]",11368
97,98,104th St,POINT (-73.83768300060997 40.681711001091195),A-S,S Euclid Av to Ozone Park-Lefferts Blvd-nights...,"[-73.83768300060997, 40.681711001091195]",11419
13,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.84443500029684, 40.69516599823373]",11418
449,450,110th St,POINT (-73.94424999687163 40.795020000113105),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.94424999687163, 40.795020000113105]",10029
189,190,111th St,POINT (-73.85533399834884 40.75172999941711),7,7-all times,"[-73.85533399834884, 40.75172999941711]",11368
82,83,111th St,POINT (-73.83216299845388 40.68433100001238),A-S,S Euclid Av to Ozone Park-Lefferts Blvd-nights...,"[-73.83216299845388, 40.68433100001238]",11419
208,209,111th St,POINT (-73.83679338454697 40.697114810696476),J,J-all times,"[-73.83679338454697, 40.697114810696476]",11418
169,170,116th St,POINT (-73.94962500096905 40.802097999133004),2-3,"2,3-all times","[-73.94962500096905, 40.802097999133004]",10037
397,398,116th St,POINT (-73.95479778057312 40.80505813344211),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.95479778057312, 40.80505813344211]",10026
461,462,116th St,POINT (-73.9416169983714 40.7986290002001),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.9416169983714, 40.7986290002001]",10037
166,167,116th St - Columbia University,POINT (-73.96410999757751 40.807722001230864),1,1-all times,"[-73.96410999757751, 40.807722001230864]",10027
209,210,121st St,POINT (-73.82834900017954 40.700481998515315),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.82834900017954, 40.700481998515315]",11418
467,468,125th St,POINT (-73.93759400055725 40.804138000587244),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...","[-73.93759400055725, 40.804138000587244]",10035
398,399,125th St,POINT (-73.95224799734774 40.811071672994565),A-B-C-D,"A,D-all times, B-weekdays and evenings, C-all ...","[-73.95224799734774, 40.811071672994565]",10040
167,168,125th St,POINT (-73.94549500011411 40.807753999182815),2-3,"2,3-all times","[-73.94549500011411, 40.807753999182815]",10027
286,287,125th St,POINT (-73.95837200097044 40.815580999978934),1,1-all times,"[-73.95837200097044, 40.815580999978934]",10115
439,440,135th St,POINT (-73.94753480879213 40.817905559212676),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.94753480879213, 40.817905559212676]",10030
168,169,135th St,POINT (-73.94077000106708 40.8142290003391),2-3,"2,3-all times","[-73.94077000106708, 40.8142290003391]",10037
171,172,137th St - City College,POINT (-73.95367600087873 40.82200799968475),1,1-all times,"[-73.95367600087873, 40.82200799968475]",10031
140,141,138th St - Grand Concourse,POINT (-73.92984899935611 40.81322399958908),4-5,"4-all times, skips rush hours AM southbound, P...","[-73.92984899935611, 40.81322399958908]",10451
294,295,145th St,POINT (-73.94408792823116 40.824766360871905),A-B-C-D,"A,D-all times, B-weekdays and evenings, C-all ...","[-73.94408792823116, 40.824766360871905]",10031
172,173,145th St,POINT (-73.93624499873299 40.82042099969279),3,"3-all times, exit only northbound","[-73.93624499873299, 40.82042099969279]",10037
155,156,145th St,POINT (-73.95035999879713 40.82655099962194),1,1-all times,"[-73.95035999879713, 40.82655099962194]",10031
288,289,149th St - Grand Concourse,POINT (-73.92672247438611 40.81833014409742),2-5,"2-all times, 5-all times exc nights","[-73.92672247438611, 40.81833014409742]",10451:10455
46,47,149th St - Grand Concourse,POINT (-73.9273847542618 40.81830344372315),4,4-all times,"[-73.9273847542618, 40.81830344372315]",10451
440,441,14th St,POINT (-73.99620899921355 40.73822799969515),F-M,"F-all times, M-weekdays and evenings","[-73.99620899921355, 40.73822799969515]",10019
438,439,14th St,POINT (-74.00020100063497 40.737825999728116),1-2-3,"1,2-all times, 3-all times exc nights","[-74.00020100063497, 40.737825999728116]",10001
443,444,14th St,POINT (-74.00168999937027 40.740893000193296),A-C-E,"A,E-all times, C-all times exc nights","[-74.00168999937027, 40.740893000193296]",10011
410,411,155th St,POINT (-73.94151400082208 40.83051799929251),A-C,"A-nights, C-all other times","[-73.94151400082208, 40.83051799929251]",10040
295,296,155th St,POINT (-73.93820899811622 40.8301349999812),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.93820899811622, 40.8301349999812]",10039
156,157,157th St,POINT (-73.94488999901047 40.8340410001399),1,1-all times,"[-73.94488999901047, 40.8340410001399]",10032
106,107,15th St - Prospect Park,POINT (-73.97973580592873 40.66003568810021),F-G,"F,G-all times","[-73.97973580592873, 40.66003568810021]",11215
47,48,161st St - Yankee Stadium,POINT (-73.92569199505733 40.82823032742169),4,4-all times,"[-73.92569199505733, 40.82823032742169]",10452
296,297,161st St - Yankee Stadium,POINT (-73.92565099775477 40.827904998845845),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.92565099775477, 40.827904998845845]",10452
411,412,163rd St - Amsterdam Av,POINT (-73.93989200188344 40.83601299923096),A-C,"A-nights, C-all other times","[-73.93989200188344, 40.83601299923096]",10040
21,22,167th St,POINT (-73.91843200082253 40.83376899862797),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.91843200082253, 40.83376899862797]",10452
290,291,167th St,POINT (-73.92139999784426 40.83553699933672),4,4-all times,"[-73.92139999784426, 40.83553699933672]",10452
176,177,168th St,POINT (-73.94013299907257 40.840555999148535),1,1-all times,"[-73.94013299907257, 40.840555999148535]",10031
57,58,168th St,POINT (-73.93956099985425 40.84071899990795),A-C,"A-all times, C-all times exc nights","[-73.93956099985425, 40.84071899990795]",10032
187,188,169th St,POINT (-73.79347419927721 40.710517502784),F,F-all times,"[-73.79347419927721, 40.710517502784]",11427
263,264,170th St,POINT (-73.91779099745928 40.84007499993004),4,4-all times,"[-73.91779099745928, 40.84007499993004]",10468
175,176,170th St,POINT (-73.91339999846983 40.83930599964156),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.91339999846983, 40.83930599964156]",10452
255,256,174th St,POINT (-73.88769359812888 40.837195550170605),2-5,"2-all times, 5-all times exc nights, skips rus...","[-73.88769359812888, 40.837195550170605]",10460
20,21,174th-175th Sts,POINT (-73.91013600050078 40.84589999983414),B-D,"B-rush hours, D-all times, skips rush hours AM...","[-73.91013600050078, 40.84589999983414]",10453
179,180,175th St,POINT (-73.93970399761596 40.84739100072403),A,A-all times,"[-73.93970399761596, 40.84739100072403]",10040
173,174,176th St,POINT (-73.91179399884471 40.8484800012369),4,4-all times,"[-73.91179399884471, 40.8484800012369]",10468
177,178,181st St,POINT (-73.9335959996056 40.84950499974065),1,1-all times,"[-73.9335959996056, 40.84950499974065]",10033

In [7]:
df['LINENAME'] = df.apply(lambda row: row['LINE'].rstrip('Express').replace('-',''), axis = 1)

#df.sort_values('NAME').head(20)

In [8]:
full_df = pd.read_pickle('df.p')
full_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/15/2020,00:00:00,REGULAR,7444885,2531033
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/15/2020,04:00:00,REGULAR,7444886,2531034
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/15/2020,08:00:00,REGULAR,7444899,2531046
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/15/2020,12:00:00,REGULAR,7444933,2531082
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/15/2020,16:00:00,REGULAR,7445032,2531110

In [9]:
df['STATION'] = df.apply(lambda row: row['NAME'].upper(), axis = 1)
df.sort_values('STATION').head()

,OBJECTID,NAME,the_geom,LINE,NOTES,latlon,zipcode,LINENAME,STATION
158,159,103rd St,POINT (-73.96837899960818 40.799446000334825),1,1-all times,"[-73.96837899960818, 40.799446000334825]",10025,1,103RD ST
160,161,103rd St,POINT (-73.96137008267617 40.796060739904526),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.96137008267617, 40.796060739904526]",10025-4403,ABC,103RD ST
457,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.94747800152219, 40.79060000008452]",10029,466,103RD ST
188,189,103rd St - Corona Plaza,POINT (-73.86269999830412 40.749865000555545),7,7-all times,"[-73.86269999830412, 40.749865000555545]",11368,7,103RD ST - CORONA PLAZA
97,98,104th St,POINT (-73.83768300060997 40.681711001091195),A-S,S Euclid Av to Ozone Park-Lefferts Blvd-nights...,"[-73.83768300060997, 40.681711001091195]",11419,AS,104TH ST

In [10]:
full_df.sort_values('STATION').groupby(['STATION','LINENAME']).head(1).head(20)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
32931,H007A,R248,02-01-01,1 AV,L,BMT,09/09/2020,12:00:00,REGULAR,1,14
169527,R252,R180,00-00-01,103 ST,6,IRT,08/16/2020,05:00:00,REGULAR,5009645,2134734
49405,N037,R314,00-00-02,103 ST,BC,IND,09/04/2020,17:00:00,REGULAR,5219001,8830915
146699,R170,R191,00-00-00,103 ST,1,IRT,09/02/2020,17:00:00,REGULAR,2798316,1136801
193585,R529,R208,00-05-00,103 ST-CORONA,7,IRT,08/20/2020,16:00:00,REGULAR,13539996,5849977
69919,N137,R354,00-00-00,104 ST,A,IND,08/25/2020,04:00:00,REGULAR,414710,262245
42674,J034,R007,00-00-02,104 ST,JZ,BMT,09/07/2020,04:00:00,REGULAR,71917,52647
176742,R254,R181,01-00-02,110 ST,6,IRT,08/26/2020,12:00:00,REGULAR,14560433,4831408
42881,J035,R008,00-00-01,111 ST,J,BMT,09/01/2020,16:00:00,REGULAR,3342901,3074944
70421,N139,R355,00-00-02,111 ST,A,IND,09/11/2020,17:00:00,REGULAR,670808,145727
193981,R530,R310,00-00-04,111 ST,7,IRT,08/17/2020,08:00:00,REGULAR,5066646,5008876
48724,N029,R333,01-00-02,116 ST,BC,IND,09/05/2020,05:00:00,REGULAR,445565,632284
181433,R302,R324,01-00-00,116 ST,23,IRT,08/26/2020,05:00:00,REGULAR,4835299,873530
170314,R257,R182,01-03-01,116 ST,6,IRT,08/21/2020,09:00:00,REGULAR,271587,320415
147263,R173,R159,00-00-01,116 ST-COLUMBIA,1,IRT,08/31/2020,21:00:00,REGULAR,655450,335193
42885,J037,R009,00-00-01,121 ST,JZ,BMT,08/19/2020,12:00:00,REGULAR,2195983,1223033
173248,R304,R206,00-00-00,125 ST,23,IRT,08/29/2020,09:00:00,REGULAR,1690707250,789616282
171388,R258,R132,00-00-00,125 ST,456,IRT,09/06/2020,09:00:00,REGULAR,159259,389401
48140,N025,R102,01-00-04,125 ST,ACBD,IND,09/05/2020,12:00:00,REGULAR,9611583,4078164
156274,R174,R034,00-00-04,125 ST,1,IRT,08/22/2020,20:00:00,REGULAR,4971138,6357852

In [14]:
station_name_list = list(df.NAME)
station_name_list_cleaned = [entry.upper().replace('RD-','-').replace('RD ',' ').replace('ND-','-').replace('ND ',' ').replace('TH-','-').replace('TH ',' ').replace('1ST-','1-').replace('1ST ','1 ') for entry in station_name_list]
df['STATION'] = pd.Series(station_name_list_cleaned)

In [15]:
df.sort_values('STATION').head(10)

,OBJECTID,NAME,the_geom,LINE,NOTES,latlon,zipcode,LINENAME,STATION
145,146,1st Ave,POINT (-73.98168087489128 40.73097497580066),L,L-all times,"[-73.98168087489128, 40.73097497580066]",10009,L,1 AVE
158,159,103rd St,POINT (-73.96837899960818 40.799446000334825),1,1-all times,"[-73.96837899960818, 40.799446000334825]",10025,1,103 ST
160,161,103rd St,POINT (-73.96137008267617 40.796060739904526),A-B-C,"A-nights, B-weekdays and evenings, C-all times...","[-73.96137008267617, 40.796060739904526]",10025-4403,ABC,103 ST
457,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.94747800152219, 40.79060000008452]",10029,466,103 ST
188,189,103rd St - Corona Plaza,POINT (-73.86269999830412 40.749865000555545),7,7-all times,"[-73.86269999830412, 40.749865000555545]",11368,7,103 ST - CORONA PLAZA
97,98,104th St,POINT (-73.83768300060997 40.681711001091195),A-S,S Euclid Av to Ozone Park-Lefferts Blvd-nights...,"[-73.83768300060997, 40.681711001091195]",11419,AS,104 ST
13,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...","[-73.84443500029684, 40.69516599823373]",11418,JZ,104-102 STS
449,450,110th St,POINT (-73.94424999687163 40.795020000113105),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...","[-73.94424999687163, 40.795020000113105]",10029,466,110 ST
208,209,111th St,POINT (-73.83679338454697 40.697114810696476),J,J-all times,"[-73.83679338454697, 40.697114810696476]",11418,J,111 ST
82,83,111th St,POINT (-73.83216299845388 40.68433100001238),A-S,S Euclid Av to Ozone Park-Lefferts Blvd-nights...,"[-73.83216299845388, 40.68433100001238]",11419,AS,111 ST

In [18]:
zipcode_list = list(df['zipcode'])
zipcode_list_cleaned = [entry[:5] for entry in zipcode_list]
zipcode_list_cleaned

['10003',
 '10013',
 '10107',
 '11213',
 '11207',
 '10463',
 '10026',
 '11207',
 '11377',
 '11101',
 '10002',
 '11207',
 '11208',
 '11418',
 '11227',
 '11693',
 '11693',
 '10459',
 '10459',
 '10457',
 '10453',
 '10452',
 '11135',
 '11368',
 '11135',
 '10461',
 '10454',
 '10461',
 '10000',
 '10462',
 '10017',
 '10037',
 '10037',
 '10037',
 '11233',
 '11217',
 '11373',
 '11233',
 '10462',
 '10467',
 '10470',
 '11213',
 '10459',
 '10462',
 '11225',
 '11207',
 '10451',
 '10452',
 '10037',
 '10458',
 '10472',
 '10459',
 '10472',
 '11377',
 '11691',
 '10023',
 '10025',
 '10032',
 '10468',
 '10019',
 '11225',
 '11220',
 '11418',
 '11415',
 '11435',
 '11101',
 '11375',
 '11373',
 '11223',
 '11238',
 '11211',
 '11211',
 '11207',
 '11207',
 '11221',
 '11207',
 '11220',
 '11101',
 '11106',
 '10019',
 '10017',
 '11233',
 '11419',
 '10011',
 '10037',
 '10024',
 '10470',
 '10034',
 '10459',
 '10014',
 '10461',
 '10010',
 '11101',
 '',
 '11101',
 '10011',
 '10014',
 '11419',
 '11693',
 '11235',
 '11101',
 '10065',
 '11101',
 '11419',
 '10003',
 '11221',
 '11215',
 '11215',
 '11218',
 '11218',
 '11226',
 '11226',
 '11226',
 '11226',
 '11238',
 '11227',
 '11233',
 '11221',
 '11221',
 '11217',
 '11217',
 '11217',
 '11201',
 '11417',
 '10462',
 '10469',
 '11216',
 '11217',
 '11238',
 '11203',
 '11203',
 '11203',
 '11210',
 '11225',
 '11213',
 '11225',
 '11222',
 '11222',
 '11211',
 '11211',
 '10451',
 '10022',
 '10035',
 '10001',
 '10001',
 '10009',
 '10019',
 '11211',
 '11206',
 '11211',
 '11211',
 '11206',
 '11101',
 '11109',
 '11101',
 '10031',
 '10032',
 '10025',
 '10025',
 '10026',
 '10025',
 '10023',
 '10024',
 '11375',
 '10024',
 '10025',
 '10027',
 '10027',
 '10037',
 '10037',
 '10457',
 '10031',
 '10037',
 '10468',
 '10468',
 '10452',
 '10031',
 '10033',
 '10040',
 '10040',
 '11692',
 '11692',
 '11694',
 '11694',
 '11691',
 '11691',
 '11427',
 '11427',
 '11368',
 '11368',
 '11374',
 '11208',
 '10024',
 '11207',
 '10014',
 '11420',
 '10019',
 '11224',
 '10001',
 '10016',
 '10461',
 '10461',
 '10001',
 '10037',
 '11692',
 '10019',
 '11421',
 '11417',
 '11418',
 '11418',
 '11385',
 '11237',
 '11207',
 '11207',
 '11208',
 '11207',
 '11207',
 '11236',
 '11236',
 '11236',
 '11212',
 '11212',
 '11207',
 '11233',
 '11208',
 '11207',
 '11208',
 '11208',
 '11421',
 '11377',
 '11372',
 '11374',
 '11385',
 '11385',
 '11237',
 '11377',
 '11103',
 '11377',
 '11104',
 '11372',
 '11372',
 '11414',
 '11414',
 '11415',
 '11375',
 '11427',
 '11433',
 '10470',
 '10472',
 '10455',
 '11102',
 '11101',
 '10459',
 '10455',
 '10454',
 '10460',
 '10467',
 '10454',
 '10468',
 '10458',
 '10039',
 '10452',
 '10468',
 '10468',
 '10458',
 '10463',
 '10463',
 '10034',
 '10034',
 '10034',
 '10463',
 '10461',
 '10469',
 '10467',
 '10467',
 '10467',
 '10466',
 '10466',
 '11427',
 '10470',
 '11213',
 '11207',
 '11207',
 '10469',
 '10460',
 '10040',
 '10115',
 '11216',
 '10451',
 '10455',
 '10452',
 '10454',
 '11104',
 '11104',
 '10031',
 '10039',
 '10452',
 '11207',
 '11103',
 '11207',
 '11207',
 '11221',
 '11237',
 '11101',
 '11385',
 '11206',
 '11101',
 '11223',
 '11209',
 '11209',
 '11219',
 '11204',
 '11214',
 '11214',
 '11204',
 '11204',
 '11209',
 '11209',
 '11228',
 '11204',
 '11223',
 '11214',
 '11228',
 '11204',
 '11223',
 '11223',
 '11235',
 '11235',
 '11235',
 '11229',
 '11223',
 '11223',
 '11224',
 '11223',
 '11224',
 '11223',
 '11223',
 '11223',
 '11223',
 '11229',
 '11204',
 '11223',
 '11234',
 '11230',
 '11235',
 '11101',
 '10019',
 '10019',
 '10036',
 '10019',
 '10021',
 '10044',
 '10023',
 '10019',
 '10019',
 '10153',
 '10022',
 '10019',
 '10019',
 '10038',
 '10007',
 '10019',
 '11216',
 '11211',
 '10019',
 '10001',
 '11201',
 '11201',
 '10002',
 '10002',
 '10002',
 '11206',
 '11206',
 '11215',
 '11215',
 '11201',
 '11201',
 '11201',
 '10003',
 '10010',
 '11215',
 '11209',
 '10003',
 '10003',
 '11207',
 '11207',
 '11220',
 '11220',
 '11209',
 '11220',
 '11220',
 '11219',
 '11232',
 '11231',
 '10012',
 '10040',
 '10040',
 '10026',
 '10040',
 '10003',
 '10003',
 '10038',
 '10007',
 '10012',
 '11207',
 '11201',
 '10468',
 '10468',
 '10007',
 '10019',
 '10040',
 '10040',
 '10038',
 '10278',
 '10013',
 '10003',
 '10003',
 '',
 '10003',
 '10005',
 '10004',
 '10006',
 '11385',
 '11385',
 '10006',
 '',
 '10038',
 '10004',
 '10007',
 '10038',
 '10040',
 '10002',
 '10002',
 '10002',
 '10013',
 '10011',
 '10001',
 '11377',
 '10001',
 '10030',
 '10019',
 '10011',
 '10001',
 '10011',
 '11213',
 '11201',
 '11238',
 '11207',
 '11385',
 '10029',
 '10028',
 '11201',
 '11231',
 '11217',
 '11225',
 '10468',
 '10012',
 '10029',
 '11208',
 '11419',
 '11226',
 '10037',
 '10462',
 '10013',
 '11419',
 '',
 '10012',
 '10035',
 '11224',
 '10018',
 '10035',
 '10035',
 '10128']

In [19]:
df['zipcode'] = pd.Series(zipcode_list_cleaned)

In [21]:
postal_codes = df[['STATION','LINENAME', 'zipcode']]
postal_codes = postal_codes.sort_values('STATION').reset_index(drop=True)
postal_codes

                   STATION LINENAME zipcode
0                    1 AVE        L   10009
1                   103 ST        1   10025
2                   103 ST      ABC   10025
3                   103 ST     466    10029
4    103 ST - CORONA PLAZA        7   11368
..                     ...      ...     ...
468               WOODLAWN        4   10468
469       WOODSIDE - 61 ST      77    11377
470     WORLD TRADE CENTER            10007
471                YORK ST        F   11201
472             ZEREGA AVE      66    10462

[473 rows x 3 columns]

In [22]:
postal_codes_list = []
for i in range(10):
    postal_codes_list.append([postal_codes['STATION'][i], postal_codes['LINENAME'][i], postal_codes['zipcode'][i]])
print(postal_codes_list)

[['1 AVE', 'L', '10009'], ['103 ST', '1', '10025'], ['103 ST', 'ABC', '10025'], ['103 ST', '466 ', '10029'], ['103 ST - CORONA PLAZA', '7', '11368'], ['104 ST', 'AS', '11419'], ['104-102 STS', 'JZ', '11418'], ['110 ST', '466 ', '10029'], ['111 ST', 'J', '11418'], ['111 ST', 'AS', '11419']]

In [23]:
full_df.shape

(846229, 11)

In [24]:
postal_codes.shape

(473, 3)

In [25]:
newlist = ['']*10
newlist

['', '', '', '', '', '', '', '', '', '']